[Desktop Entry]
Type=Application
Exec=/home/rathel/Applications/zen-x86_64.AppImage
Name=zen-browser
Icon=/home/rathel/.local/share/icons/zen-browser-dark.svg
