[Desktop Entry]
Type=Application
Exec=systemd-inhibit --what=idle /home/rathel/Applications/ShadowPC.AppImage
Name=shadowpc
Icon=/home/rathel/.local/share/icons/shadowpc.png
