{
  "layer": "top",
  "position": "top",
  "spacing": 10,
  "modules-center": ["custom/clock"],
  "modules-right": ["tray"],
  "modules-left": ["network"],

  "custom/clock": {
    "exec": "date '+%m/%d %H:%M'",
    "interval": 60
  },

  "tray": {
  	"icon-size": 18,
	"spacing": 10
  },

  "network": {
  {{if eq .chezmoi.hostname "cachyos-x8664" }}
    "interface": "enp0s31f6", // or "wlan0" / "enp0s31f6"
  {{else }}
    "interface": "auto", // or "wlan0" / "enp0s31f6"
  {{end }}

    "format": "{ifname}: ↓ {bandwidthDownBytes} ↑ {bandwidthUpBytes}",
    "format-disconnected": "Disconnected",
    "max-length": 50,
    "interval": 1
  }
}
