{
  "layer": "top",
  "position": "top",
  "spacing": 10,
  "modules-center": ["custom/clock"],
  "modules-right": ["battery", "tray"],
  "modules-left": ["network"],

  "custom/clock": {
    "exec": "date '+%m/%d %H:%M'",
    "interval": 60
  },

  "tray": {
  	"icon-size": 18,
	"spacing": 10
  },

  "battery": {
      "bat": "BAT0",
      "interval": 60,
    },

  "network": {
  {{ if eq .chezmoi.hostname "archlinux-z170" }}
    "interface": "enp0s31f6", // or "wlan0" / "enp0s31f6"
  {{ else if eq .chezmoi.hostname "opensuse-g750jh" }}
    "interface": "wlp0s20u1", // or "wlan0" / "enp0s31f6"
  {{ else }}
    "interface": "auto", // or "wlan0" / "enp0s31f6"
  {{ end }}

    "format": "{ifname}: ↓ {bandwidthDownBytes} ↑ {bandwidthUpBytes}",
    "format-disconnected": "Disconnected",
    "max-length": 50,
    "interval": 1
  }
}
