@import "nord.css";

* {
    font-family: Monaspace Neon NF;
    font-size: 18px;
}

#waybar {
    background-color: @nord0;
    color: @nord4;
    border: 1px solid @nord2;
    border-radius: 12px;
    margin: 6px;
    padding: 4px 8px;
}

#custom-clock,
#battery,
#tray,
#network,
#cpu,
#memory {
    background-color: @nord1;
    border-radius: 8px;
    margin: 0 4px;
    padding: 0 10px;
    color: @nord4;
}

#custom-clock {
    font-weight: bold;
}

#tray {
    padding-right: 6px;
}

#tray > .passive {
    opacity: 0.8;
}
