@import url("colors.css");

* {
    font-family:
        Iosevka Nerd Font,
        monospace;
    font-size: 18px;
}

#waybar {
    background-color: @background;
    color: @foreground;
}

#custom-clock {
}
